<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/groups">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (groups.length > 0) {
    <ion-list>
      <ion-list-header>
        <ion-label>{{ 'groups.title' | translate }}</ion-label>
        <ion-button routerLink="/groups">{{ 'groups.manage' | translate }}</ion-button>
      </ion-list-header>
      @for (group of groups; track group.publicId) {
        <ion-item button [routerLink]="['/groups', group.publicId]">
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-label>{{ group.name }}</ion-label>
          <ion-note slot="end">
            {{ 'groups.members-count' | translate: { count: group.members.length } }}
          </ion-note>
        </ion-item>
      }
    </ion-list>
  }

  @if (loadError) {
    <p class="ion-padding">{{ 'home.load-error' | translate }}</p>
  } @else if (expenses.length === 0) {
    <p class="ion-padding">{{ 'home.no-expenses' | translate }}</p>
  } @else {
    <ion-list>
      @for (expense of expenses; track expense.id) {
        <ion-item>
          <ion-label>
            <h2>{{ expense.description }}</h2>
            <p>{{ 'home.paid-by' | translate }}: {{ expense.paidBy.nickName }}</p>
          </ion-label>
          <ion-note slot="end">
            <div>{{ expense.amount }} {{ expense.currency }}</div>
            <div>{{ expense.createdDate | date: 'dd/MM/yyyy' }}</div>
          </ion-note>
        </ion-item>
      }
    </ion-list>
  }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/add-expense">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>