<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'profile.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-label>
        <h2>{{ user()?.nickName }}</h2>
        @if (user()?.email) {
          <p>{{ user()?.email }}</p>
        }
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-select
        label="{{ 'profile.language' | translate }}"
        interface="popover"
        [value]="language()"
        (ionChange)="onLanguageChange($event)"
      >
        @for (lang of languages; track lang) {
          <ion-select-option [value]="lang">{{ 'profile.language-' + lang | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item button="true" (click)="confirmLogout()">
      <ion-label color="danger">{{ 'profile.logout' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
