<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'tabs.balances' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-expense-balances
    [expenses]="expenses"
    titleKey=""
    [showSettleAction]="true"
    emptyCtaKey="balances.add-expense"
    (settle)="settle($event)"
    (emptyAction)="openExpenseForm()"
  ></app-expense-balances>
</ion-content>
