<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>{{ 'tabs.activity' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="groups">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>{{ 'tabs.groups' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="balances">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>{{ 'tabs.balances' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{ 'tabs.profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
